.container>div {
  padding: 10px;
  text-align: center;
  font-size: 2em;
  color: #f2e9e5;
}

html, body {
  background-color: #22223b;
  margin: 10px;
}

.container>div:nth-child(1) {
  background-color: #c9ada7;
}

.container>div:nth-child(2) {
  background-color: #9a8c98;
}

.container>div:nth-child(3) {
  background-color: #4a4e69;
}

.container>div:nth-child(4) {
  background-color: #ff6f69;
}
