
    .flex-container {
      display: -webkit-flex;
      display: flex;
      -webkit-flex-flow: row wrap;
      flex-flow: row wrap;
      text-align: center;
    }

    .flex-container>* {
      padding: 15px;
      -webkit-flex: 1 100%;
      flex: 1 100%;
    }

    .article {
      text-align: left;
      background: #403b2d;
      color: #eeeeee
    }

.grid-container {
    display: grid;
}

.grid-item {
    display: grid;
    background-color: white
}

    header {
      background: #f1c454;
      color: #eeeeee
    }

    footer {
      background: #79b599;
      color: #eeeeee
    }

    .nav {
      background: #d97e78;
      color: #eeeeee
    }

    .nav ul {
      list-style-type: none;
      padding: 0;
      color: #eeeeee
    }

    .nav ul a {
      text-decoration: none;
      color: #eeeeee
    }

    h1 {
      color: #eeeeee;
      font-size: 3em;
    }

    h2 {
      color: #eeeeee;
      font-size: 2em;
    }

    p {
      color: #eeeeee;
      font-size: 1.2em;
    }

    li {
      color: #eeeeee;
      font-size: 1.5em;
    }

    @media all and (min-width: 768px) {
      .nav {
        text-align: left;
        -webkit-flex: 1 auto;
        flex: 1 auto;
        -webkit-order: 1;
        order: 1;
      }
      .article {
        -webkit-flex: 5 0px;
        flex: 5 0px;
        -webkit-order: 2;
        order: 2;
      }
      footer {
        -webkit-order: 3;
        order: 3;
        color: #eeeeee;
        font-size: 1.2em;
      }
    }
